#body {
    background-color: #f9050b;
    color: #f9050b;
    background: url(../images/pokeball.jpg);
}

.main-container {
    background-color: #FFFFFF;
    text-align: center;
    margin: 10px auto;
    padding: 30px 0;
    border: 2px black outset;
    
}

#done-button {
    text-align: center;
}

.question {
    margin: 20px;
    color: black;
}

.question-text {
    margin-top: 20px;
}

#title {
    padding: 3px;
    padding-bottom: 20px;
}

.image-div {
    background: none;
    border: none;
}

.poke-image {
    height: 300px;
    background: none;
    border: none;
}

.result-image {
    padding: 10px;
}